
        <div class="container">
            <i class='bx bx-x'></i>
            <div class="login-form">
                <div class="i item"><h1>Login</h1></div>
                <div class="ii item"><input type="email" placeholder="Email" required><i class='bx bxs-envelope'></i></div>
                <div class="iii item"><input type="password" placeholder="Password" required><i class='bx bxs-lock-alt' ></i></div>
                <div class="iv item"><label for="checkbox"><input type="checkbox" id="checkbox"> Remember me</label></div>
                <div class="v item"><a href="#">Forgot password?</a></div>
                <div class="vi item"><button>Login</button></div>
                <div class="vii item"><p>Don't have any account?</p></div>
                <div class="viii item"><a href="#">Register</a></div>
            </div>
            <div class="register-form">
                <div class="i item"><h1>Register</h1></div>
                <div class="ii item"><input type="text" placeholder="Username" required><i class='bx bxs-user'></i></div>
                <div class="iii item"><input type="email" placeholder="Email" required><i class='bx bxs-envelope'></i></div>
                <div class="iv item"><input type="password" placeholder="Password" required><i class='bx bxs-lock-alt' ></i></div>
                <div class="v item"><label for="checkbox"><input type="checkbox" id="checkbox"> I agree to terms & conditions</label></div>
                <div class="vii item"><button>Register</button></div>
                <div class="viii item"><p>Already have an account?</p><a href="#">Login</a></div>
            </div>
        </div>

