<%- include('partials/header.ejs') %>
    <div class="navbar">
        <h1>BlogIt</h1>
        <nav class="navlink">
            <a href="/">Home</a>
            <a href="/about" class="active">About</a>
            <a href="/contact">Contact</a>
            <a href="/write">Write</a>
            <button class="login">Login</button>
        </nav>
    </div>
    <div class="about">
        <div class="image">
            <img src="images/lorem.jpg" alt="">
        </div>
        <div class="descr">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sit 
                repellat, aliquam eius perferendis vel! Cupiditate voluptates 
                blanditiis laborum eveniet molestias, harum nihil sapiente. Vero 
                omnis itaque cupiditate vel ipsa?Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. A quam repellat nobis dolor corrupti aperiam provident
                debitis, quas, expedita accusamus excepturi officia et? Dolorum porro
                vitae error dolore sunt? Nam sint qui maiores eius et, aliquam 
                adipisci earum vero illum quaerat necessitatibus provident, ex facilis 
                id ratione. Perspiciatis dicta, ad maiores, qui nam placeat quidem fugit
                corporis quasi, dolorum quibusdam molestias amet praesentium doloremque 
                quisquam voluptatum reprehenderit rerum. Perferendis, nam recusandae blanditiis 
                molestiae tempore labore provident reiciendis praesentium quaerat, atque sunt 
                eligendi, repellat nobis esse magnam expedita dolor architecto sint modi harum? 
                Porro commodi optio accusantium veritatis? Beatae, eum excepturi!
            </p>
        </div>
    </div>
<%- include('partials/footer.ejs') %>