<%- include('partials/header.ejs') %>
    <div class="navbar">
        <h1>BlogIt</h1>
        <nav class="navlink">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact" class="active">Contact</a>
            <a href="/write">Write</a>
            <button class="login">Login</button>
        </nav>
    </div>
    <div class="contact-opt">
        <div class="chat opt">
            <i class='bx bxs-chat'></i>
            <p>Chat with us live for instant support. Click the chat icon to start.</p>
        </div>
        <div class="call opt">
            <i class='bx bxs-phone-call' ></i>
            <p>Feel free to give us a call at +1&#8209;123&#8209;456&#8209;7890 during business hours for immediate assistance.</p>

        </div>
        <div class="mail opt">
            <i class='bx bxl-gmail' ></i>
            <p>Drop us an email at support@example.com for any inquiries or assistance.</p>
        </div>
    </div>
<%- include('partials/footer.ejs') %>