<%- include('partials/header.ejs') %>
    <div class="navbar">
        <h1>LoremIpsum</h1>
        <nav class="navlink">
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/write">Write</a>
            <button class="login">Login</button>
        </nav>
    </div>
    <div class="blog-opt">
        <div class="art blog">
            <div class="blog-img">
                <img src="images/art.jpg" alt="">
            </div>
            <div class="blog-summary">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aspernatur, pariatur adipisci, id aliquid quo perspiciatis consequuntur vero ipsam hic aperiam quibusdam quia eos nostrum architecto laudantium mollitia tenetur vitae itaque maxime rerum enim! Aperiam nemo quo odio nisi neque! Quisquam, vel aliquid. Beatae molestias eligendi quia enim maxime illum eum debitis, alias praesentium nesciunt aut autem tenetur. Aperiam esse cupiditate quibusdam vitae repellat laboriosam quidem? Adipisci aliquam, minus alias veritatis consequuntur aspernatur quod corrupti ea id nisi nemo quas esse nobis repellendus doloribus iure provident quis nostrum porro. Omnis doloribus ipsa voluptas, cum sint aut quos nulla laudantium illo earum pariatur, excepturi veniam nesciunt laboriosam quae? Earum dolor excepturi ex sed minima repudiandae accusantium provident iste nisi quasi, deserunt nesciunt totam enim nulla.</p>
            </div>
            <div class="blog-footer">
                <button>Read&nbsp;More</button>
                <p><b>Author:</b> lorem ipsum - @loremipsum | <b>Date Published:</b> January 15, 2024 | <b>Category:</b> Art | <b>Tags:</b> Painting, Sculpture, Photography</p>
            </div>
        </div>
        <div class="music blog">
            <div class="blog-img">
                <img src="images/music.jpg" alt="">
            </div>
            <div class="blog-summary">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aspernatur, pariatur adipisci, id aliquid quo perspiciatis consequuntur vero ipsam hic aperiam quibusdam quia eos nostrum architecto laudantium mollitia tenetur vitae itaque maxime rerum enim! Aperiam nemo quo odio nisi neque! Quisquam, vel aliquid. Beatae molestias eligendi quia enim maxime illum eum debitis, alias praesentium nesciunt aut autem tenetur. Aperiam esse cupiditate quibusdam vitae repellat laboriosam quidem? Adipisci aliquam, minus alias veritatis consequuntur aspernatur quod corrupti ea id nisi nemo quas esse nobis repellendus doloribus iure provident quis nostrum porro. Omnis doloribus ipsa voluptas, cum sint aut quos nulla laudantium illo earum pariatur, excepturi veniam nesciunt laboriosam quae? Earum dolor excepturi ex sed minima repudiandae accusantium provident iste nisi quasi, deserunt nesciunt totam enim nulla.</p>
            </div>
            <div class="blog-footer">
                <button>Read&nbsp;More</button>
                <p><b>Author:</b> lorem ipsum - @loremipsum | <b>Date Published:</b> January 15, 2024 | <b>Category:</b> Music | <b>Tags:</b> Albums, Artists, Concerts</p>
            </div>
        </div>
        <div class="cinema blog">
            <div class="blog-img">
                <img src="images/cinema.jpg" alt="">
            </div>
            <div class="blog-summary">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aspernatur, pariatur adipisci, id aliquid quo perspiciatis consequuntur vero ipsam hic aperiam quibusdam quia eos nostrum architecto laudantium mollitia tenetur vitae itaque maxime rerum enim! Aperiam nemo quo odio nisi neque! Quisquam, vel aliquid. Beatae molestias eligendi quia enim maxime illum eum debitis, alias praesentium nesciunt aut autem tenetur. Aperiam esse cupiditate quibusdam vitae repellat laboriosam quidem? Adipisci aliquam, minus alias veritatis consequuntur aspernatur quod corrupti ea id nisi nemo quas esse nobis repellendus doloribus iure provident quis nostrum porro. Omnis doloribus ipsa voluptas, cum sint aut quos nulla laudantium illo earum pariatur, excepturi veniam nesciunt laboriosam quae? Earum dolor excepturi ex sed minima repudiandae accusantium provident iste nisi quasi, deserunt nesciunt totam enim nulla.</p>
            </div>            
            <div class="blog-footer">
                <button>Read&nbsp;More</button>
                <p><b>Author:</b> lorem ipsum - @loremipsum | <b>Date Published:</b> January 15, 2024 | <b>Category:</b> Cinema | <b>Tags:</b> Movies, Film Reviews, Directors</p>
            </div>
        </div>
        <div class="design blog">
            <div class="blog-img">
                <img src="images/design.jpg" alt="">
            </div>
            <div class="blog-summary">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aspernatur, pariatur adipisci, id aliquid quo perspiciatis consequuntur vero ipsam hic aperiam quibusdam quia eos nostrum architecto laudantium mollitia tenetur vitae itaque maxime rerum enim! Aperiam nemo quo odio nisi neque! Quisquam, vel aliquid. Beatae molestias eligendi quia enim maxime illum eum debitis, alias praesentium nesciunt aut autem tenetur. Aperiam esse cupiditate quibusdam vitae repellat laboriosam quidem? Adipisci aliquam, minus alias veritatis consequuntur aspernatur quod corrupti ea id nisi nemo quas esse nobis repellendus doloribus iure provident quis nostrum porro. Omnis doloribus ipsa voluptas, cum sint aut quos nulla laudantium illo earum pariatur, excepturi veniam nesciunt laboriosam quae? Earum dolor excepturi ex sed minima repudiandae accusantium provident iste nisi quasi, deserunt nesciunt totam enim nulla.</p>
            </div>            
            <div class="blog-footer">
                <button>Read&nbsp;More</button>
                <p><b>Author:</b> lorem ipsum - @loremipsum | <b>Date Published:</b> January 15, 2024 | <b>Category:</b> Design | <b>Tags:</b> Illustration, Branding, Product Design</p>
            </div>
        </div>
        <div class="tech blog">
            <div class="blog-img">
                <img src="images/tech.jpg" alt="">
            </div>
            <div class="blog-summary">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aspernatur, pariatur adipisci, id aliquid quo perspiciatis consequuntur vero ipsam hic aperiam quibusdam quia eos nostrum architecto laudantium mollitia tenetur vitae itaque maxime rerum enim! Aperiam nemo quo odio nisi neque! Quisquam, vel aliquid. Beatae molestias eligendi quia enim maxime illum eum debitis, alias praesentium nesciunt aut autem tenetur. Aperiam esse cupiditate quibusdam vitae repellat laboriosam quidem? Adipisci aliquam, minus alias veritatis consequuntur aspernatur quod corrupti ea id nisi nemo quas esse nobis repellendus doloribus iure provident quis nostrum porro. Omnis doloribus ipsa voluptas, cum sint aut quos nulla laudantium illo earum pariatur, excepturi veniam nesciunt laboriosam quae? Earum dolor excepturi ex sed minima repudiandae accusantium provident iste nisi quasi, deserunt nesciunt totam enim nulla.</p>
            </div>            
            <div class="blog-footer">
                <button>Read&nbsp;More</button>
                <p><b>Author:</b> lorem ipsum - @loremipsum | <b>Date Published:</b> January 15, 2024 | <b>Category:</b> Tech | <b>Tags:</b> Gadgets, Software, Innovation</p>
            </div>
        </div>
        <div class="food blog">
            <div class="blog-img">
                <img src="images/food.jpg" alt="">
            </div>
            <div class="blog-summary">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aspernatur, pariatur adipisci, id aliquid quo perspiciatis consequuntur vero ipsam hic aperiam quibusdam quia eos nostrum architecto laudantium mollitia tenetur vitae itaque maxime rerum enim! Aperiam nemo quo odio nisi neque! Quisquam, vel aliquid. Beatae molestias eligendi quia enim maxime illum eum debitis, alias praesentium nesciunt aut autem tenetur. Aperiam esse cupiditate quibusdam vitae repellat laboriosam quidem? Adipisci aliquam, minus alias veritatis consequuntur aspernatur quod corrupti ea id nisi nemo quas esse nobis repellendus doloribus iure provident quis nostrum porro. Omnis doloribus ipsa voluptas, cum sint aut quos nulla laudantium illo earum pariatur, excepturi veniam nesciunt laboriosam quae? Earum dolor excepturi ex sed minima repudiandae accusantium provident iste nisi quasi, deserunt nesciunt totam enim nulla.</p>
            </div>            
            <div class="blog-footer">
                <button>Read&nbsp;More</button>
                <p><b>Author:</b> lorem ipsum - @loremipsum | <b>Date Published:</b> January 15, 2024 | <b>Category:</b> Food | <b>Tags:</b> Cooking, Recipes, Restaurants</p>
            </div>
        </div> 
    </div>
<%- include('partials/footer.ejs') %>